[Desktop Entry]
Name=Spice vdagent
Comment=Agent for Spice guests
Exec=/usr/bin/spice-vdagent -x
Terminal=false
Type=Application
Categories=
NoDisplay=true
